    
.mainIndex{
    letter-spacing: 0.085em;
    font-family: 'Bebas Neue', cursive;
    height: 150vh;
    width: 100vw;
    background-color: $colorAzul;
    @include flex (flex,column,space-around,center)
    .tarjetas{
        
        @include flex(flex,row,space-around,center)
        align-items: space-evenly;
        
    }
    .tarjeta {
        color: $colorBlanco;
        margin-right: 150px;
        padding: 0 20 0 0;
        text-align: center;
        @include flex(flex,column,space-around,center)
    }
    .btn1{
        padding: 15px 25px;
        margin: 20px;
        font-size: 20px;
        border: 2px solid $colorRosa;
        cursor: pointer;
        background: linear-gradient(to rigth, transparent 50%, #ca6471);
        background-size: 200%;
        background-position: left;
        transition: background-position 0.5s;
    }
    .btn1:hover{
        background-position:right ;
        color: black;
        font-weight: 700;
    }
    .btn2{
        padding: 15px 25px;
        margin: 20px;
        font-size: 20px;
        border: 2px solid $colorRosa;
        cursor: pointer;
        background: linear-gradient(to rigth, transparent 50%, #ca6471);
        background-size: 200%;
        background-position: left;
        transition: background-position 0.5s;
    }
    .btn2:hover{
        background-position:right ;
        color: black;
        font-weight: 700;
    }
    .btn3{
        padding: 15px 25px;
        margin: 20px;
        font-size: 20px;
        border: 2px solid $colorRosa;
        cursor: pointer;
        background: linear-gradient(to rigth, transparent 50%, #ca6471);
        background-size: 200%;
        background-position: left;
        transition: background-position 0.5s;
    }
    .btn3:hover{
        background-position:right ;
        color: black;
        font-weight: 700;
    }
    .btn4{
        padding: 15px 25px;
        margin: 20px;
        font-size: 20px;
        border: 2px solid $colorRosa;
        cursor: pointer;
        background: linear-gradient(to rigth, transparent 50%, #ca6471);
        background-size: 200%;
        background-position: left;
        transition: background-position 0.5s;
    }
    .btn4:hover{
        background-position:right ;
        color: black;
        font-weight: 700;
    }
    .fotoIndex img {
        max-width: 48vw;
        max-height: 48vh;
    }
}





.mainTrabajos{
    letter-spacing: 0.085em;
    font-family: 'Bebas Neue', cursive;
    @include flex (flex,column,space-around,center)
    background-color: $colorAzul;
    h2{color: $colorBlanco;
    text-align: center;}
    .fotoTrabajo img{
        max-width: 40vw;
        max-height: 40vh;
    }
    .bloque{
        @include flex(flex,row,space-around,center)
        padding: 25px;
        align-items: center;
        justify-content: space-evenly;
        margin: 25px;
        .brito{
            @include flex (flex,column,space-between,center)
            margin: 6rem;
        }
        .caserito{
            @include flex (flex,column,space-between,center)
            margin: 6rem;
        }
        .lasQuintas{
            @include flex (flex,column,space-between,center)
            margin: 6rem;
        }
        .clubBirra{
            @include flex (flex,column,space-between,center)
            margin: 6rem;}
        .solari{
            @include flex (flex,column,space-between,center)
            margin: 6rem;
        }
        .amsterdam{
            @include flex (flex,column,space-between,center)
            margin: 6rem;
        }
    }

}

body{
    letter-spacing: 0.085em;
    font-family: 'Bebas Neue', cursive;
    width: 100 vw;
    background-color: $colorAzul;
}
.mainNosotros{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    background-color: $colorAzul;
    .padre {
        @include flex (flex,column,space-between,center)
        margin: 5rem;
    }
    .hijo{
        @include flex (flex,column,space-evenly,center)
    }
    .hijo img {
        max-width: 50vw;
        max-height: 50vh;
    }
}

.mainDis{
    font-family: 'Bebas Neue', cursive;    
    line-height: 2rem;
        
    h1{ margin-top: 5rem;
        @include flex (flex,column,space-evenly,center)}
    .fondoDiseno{
        @include flex (flex,column,space-evenly,center)
        margin:6rem;
    }
    .subiLogo{
        @include flex (flex,row,space-evenly,center)
        margin:6rem;
        padding: 3rem;
    }
    .cargaLogo{
        @include flex (flex,column,space-evenly,center)
        margin:6rem;
    }
    .selecPrenda{
        padding-bottom: 3rem;
        @include flex (flex,column,space-between,center)
        margin:1rem;
        label{margin:1rem;}
        input{margin: 1rem;}
    }
    .tablas{
        @include flex(flex,row,space-evenly,center)
    }
}

.mainContacto{
    color: $colorRojo;
    @include flex (flex,column,space-between,center)
    form {
        @include flex (flex,column,space-between,center)
    }
}