header{
    height: 25vh;
    background-color: $colorRojo;
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-between;
    top: 0;
    
    .logo img{
        max-width: 25vh;
        max-height: 25vh;
        height: 25vh;
        width: 25vw;
        background-color: $colorBeige;
        border-radius: 0;
        padding: 0;
        margin: 0 0 0 0;
    }
    
    ul{
        background-color: $colorRojo;
        // display: flex;
        list-style: none;
        // align-items: center;
        margin-right: 2rem;
        flex-wrap: wrap;
        @include flex(flex,row,space-around,center);
        
        li{
            color: $colorRojo;
            background-color: $colorBeige;
            margin: .3rem;
            padding: .7rem;
            @extend %fontStyle;
            @extend %boxShadow;

            &:hover{
                background-color: $colorRosa ;
                border-color: $colorRojo;
                border-style: solid 3px;
            }
        }
    }




    }
    